.main{
    border: 1px solid;
    width: 90%;
    height: 600px;
    margin: 50px;
    background-color: rgb(133, 111, 111);
}
.right{
    border: 1px solid;
    width: 25%;
    height: 490px;
    margin: 50px;
    float: left;
    background-color: aqua;
}
.middle{
    border: 1px solid;
    width: 25%;
    height: 490px;
    margin: 50px;
    float:right;
    background-color: aqua;
}
.left{
    border: 1px solid;
    width: 25%;
    height: 490px;
    margin: 50px;
    float:right;
    background-color: aqua;
}
.right-img{
    width: 300px;
    height: 260px;
    border: 1px solid black;
    margin: 17px;
}
.text-1{
    font-size: 20px;
    font-family:Verdana, Tahoma, sans-serif;
    margin-bottom: 0%;
    
}
.prize-1-1{
    color: orangered;
    font-size: 25px;
    margin-top: 3px;
    margin-bottom: 0%;
}
.prize-1-2{
    margin-top: 0%;
    color: grey;
}
.prize-1-3{
    font-size: 15px;
}
.left-img{
    width: 300px;
    height: 260px;
    border: 1px solid black;
    margin: 17px;
}
.text-2{
    font-size: 20px;
    font-family:Verdana, Tahoma, sans-serif;
    margin-bottom: 0%;
}
.prize-2-1{
    color: orangered;
    font-size: 25px;
    margin-top: 3px;
    margin-bottom: 0%;
}
.prize-2-2{
    margin-top: 0%;
    color: grey;
}
.prize-2-3{
    font-size: 15px;
}
.middle-img{
    width: 300px;
    height: 260px;
    border: 1px solid black;
    margin: 17px;
}
.text-3{
    font-size: 20px;
    font-family:Verdana, Tahoma, sans-serif;
    margin-bottom: 0%;
}
.prize-3-1{
    color: orangered;
    font-size: 25px;
    margin-top: 3px;
    margin-bottom: 0%;
}
.prize-3-2{
    margin-top: 0%;
    color: grey;
}
.prize-3-3{
    font-size: 15px;
}
